.prefooter{
    margin: 5vmax;
    background-color: white;
    padding: 1vmax;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.prefooter > div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(66,66,66,0.829);
    cursor: pointer;

}

.prefooter >div:hover svg{
    fill: rgb(34,34,34);
}
.prefooter >div:hover p{
    color: rgb(19,18,18);
}

.prefooter svg{
    transform: scale(2) translateY(-0.2vmax);
    fill: rgba(37,37,37,0.322);
    margin: 2vmax;
}


/*   prefooter 2 */

.prefooter-2{
    display: grid;
    height: 150px;
    grid-template-columns: repeat(4,1fr);
}

.prefooter-2 >div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prefooter-2 >div >p{
    color: rgba(0,0,0,0.842);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vmax;
    width: 18vmax;
    margin: 0%;
}

.prefooter-2 >div> span{
    color: rgb(51,51,51,0.842);
    width: 18vmax;
    font-size: 1vmax;
    
}

.prefooter-2 >div>div>input{
    border: none;
    outline: none;
    padding: 0.5vmax 1vmax;
    background-color: rgb(225,225,225);
    /* font-size: 0.5vmax; */
}

.prefooter-2 >div>div>button{
    border: none;
    padding: 0.5vmax;
    background-color: rgb(225,225,225);
    outline: none;
}

.prefooter-2 > div >div {
    border: 1px solid rgba(126,126,126,0.493);
}

.prefooter-2 > div:nth-child(2){
    justify-content: center;
    align-items: flex-start;
}

.prefooter-2 > div:nth-child(2) > span{
    width: 22vmax;
}
.prefooter-2 > div:nth-child(3){
    justify-content: center;
    align-items: flex-end;
}

.prefooter-2 > div:nth-child(3) >p {
    width: 14vmax;
}

.prefooter-2 > div:nth-child(3) >span{
    width: 14vmax;
}

.prefooter-2 > div:nth-child(4){
    flex-direction: row;
}

.prefooter-2 > div:nth-child(4) >svg{
    cursor: pointer;
    margin: 1vmax;
    fill: rgba(138,138,138 ,0.705);
}

.prefooter-2 > div:nth-child(4) > svg:hover{
    fill: rgb(94,94,94);
}









