.starproducts{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vmax auto;
}
.starproducts > div:last-child{
    display: flex;
    flex-wrap: wrap;
    width: 46%;
}
.starproducts img{
    transition: all 0.5s;
}
.starproducts img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53 ,0.363);
}